<nz-table 
    [nzData]="page?.elements || []"
    [nzFrontPagination]="false"
    [nzTotal]="page?.totalElements || 0"
    [nzPageIndex]="page?.current?.index || 0"
    
    [nzScroll]="settings.scroll"
    [nzBordered]="settings.bordered"
    [nzSize]="settings.size">
  <thead *ngIf="definition?.columns?.length">
    <tr>
      <ng-container *ngFor="let column of definition?.columns">
        <th [nzWidth]="column?.width || null">{{ column.label }}</th>
      </ng-container>
      <th *ngIf="actionsContent" [nzWidth]="actionsWidth" [nzRight]="true">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="page?.elements?.length && definition?.columns?.length">
      <tr *ngFor="let row of page?.elements">
        <td *ngFor="let column of definition?.columns">
          <ng-container 
              [ngTemplateOutlet]="switchOnColumnTypeTemplate"
              [ngTemplateOutletContext]="{ row, column }">
          </ng-container>
        </td>
        <td *ngIf="actionsContent" [nzRight]="true">
          <ng-container
              [ngTemplateOutlet]="actionsContent"
              [ngTemplateOutletContext]="{ row }">
          </ng-container>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<!-- Determines which cell type to render -->
<ng-template #switchOnColumnTypeTemplate let-row="row" let-column="column">
  <ng-container [ngSwitch]="column.type">
    <ng-container 
      *ngSwitchCase="ColumnType.TEXT"
      [ngTemplateOutlet]="textColumnTypeTemplate"
      [ngTemplateOutletContext]="{ row, column }">
    </ng-container>
    <ng-container 
      *ngSwitchCase="ColumnType.EMAIL"
      [ngTemplateOutlet]="emailColumnTypeTemplate"
      [ngTemplateOutletContext]="{ row, column }">
    </ng-container>
    <ng-container 
      *ngSwitchCase="ColumnType.IMAGE"
      [ngTemplateOutlet]="imageColumnTypeTemplate"
      [ngTemplateOutletContext]="{ row, column }">
    </ng-container>
  </ng-container>
</ng-template>

<ng-template 
    #textColumnTypeTemplate 
    let-row="row" 
    let-column="column">
  {{ row[column.property] }}
</ng-template>

<ng-template 
    #emailColumnTypeTemplate 
    let-row="row" 
    let-column="column">
  <a [href]="'mailto:' + row[column.property]" alt="Email address">
    {{ row[column.property] }}
  </a>
</ng-template>

<ng-template 
    #imageColumnTypeTemplate 
    let-row="row" 
    let-column="column">
  <div class="flex flex-row justify-content-center align-items-center">
    <nz-avatar
        [nzSrc]="row[column?.property]"
        [nzShape]="'circle'" 
        [nzSize]="'large'" 
        [nzIcon]="'user'">
    </nz-avatar>
  </div>
</ng-template>
