<nz-page-header style="background: white;" class="bordered-bottom" nzTitle="Create User Account" nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a>Settings</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Create User Account</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-extra>
    <button
        (click)="onCreateUserAccount(createUserAccountForm.value)"
        nz-button 
        nzType="primary">
      Save
    </button>
  </nz-page-header-extra>
</nz-page-header>

<div [@fadeAnimation] class="p-4">
  <nz-card class="w-100 p-0">
    <form class="block" [formGroup]="createUserAccountForm">
      <xyz-user-account-form
          [assignablePermissions]="assignablePermissions$ | async">
      </xyz-user-account-form>
    </form>
  </nz-card>
</div>
