<div [@fadeAnimation]>
  <!-- <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a>Settings</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>User Accounts Overview</nz-breadcrumb-item>
  </nz-breadcrumb> -->

  <nz-card class="w-100 p-0 mt-4">
    <nz-page-header class="site-page-header" nzTitle="User Accounts">
      <nz-page-header-extra>
        <a  routerLink="./create" 
            nz-button 
            nzType="primary">
          Create New User
        </a>
      </nz-page-header-extra>
    </nz-page-header>
    <div class="mx-4">
      <xyz-datatable      
          [page]="userAccountsPage$ | async"
          [definition]="userAccountsTableDefinition"
          [actionsContent]="userAccountsActions">
      </xyz-datatable>
    </div>
    
    <ng-template #userAccountsActions let-row="row">
      <div>
        <a 
            [routerLink]="[row.id, 'edit']"
            nz-button 
            nzType="primary" 
            nzSize="small"
            title="Edit user">
          <i nz-icon nzType="edit"></i>
      </a>
      </div>
    </ng-template>
  </nz-card>
</div>
