<div [formGroup]="formGroup">
  <h3 class="my-5">Profile Details</h3>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your First Name!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="firstName" placeholder="First Name" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Last Name!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="lastName" placeholder="Last Name" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</div>
