<nz-page-header style="background: white;" class="bordered-bottom" nzTitle="Security Permission Templates" nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a>Security</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Permissions</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-extra>
    <a  routerLink="./create" 
        nz-button 
        nzType="primary">
      Create New Permission Template
    </a>
  </nz-page-header-extra>
</nz-page-header>

<div [@fadeAnimation] class="p-4">
  <nz-card class="w-100 p-0">
    <div>
      <div class="mb-3 flex flex-row">
        <xyz-basic-query-search-filter
            [filter]="templateModulePermissionsSearchFilter$ | async"
            (onSearchChanges)="onSearchFilterChanges($event)"></xyz-basic-query-search-filter>
      </div>
      <xyz-datatable      
          [page]="securityPermissionsTemplatePage$ | async"
          [definition]="securityPermissionsTemplateTableDefinition"
          [actionsContent]="securityPermissionsTemplateActions"
          [defaultSort]="defaultSort"
          (onPageChange)="onSecurityPermissionsPageChange($event)">
      </xyz-datatable>
    </div>
    <ng-template #securityPermissionsTemplateActions let-row="row">
      <nz-button-group>
        <a 
            class=""
            [routerLink]="[row.id, 'edit']"
            nz-button 
            nzType="default" 
            nzSize="small"
            title="Edit user">
          <i nz-icon nzType="edit"></i>
        </a>
        <button
            nz-button 
            nzType="default" 
            nzSize="small"
            nz-popconfirm
            nzPopoverTrigger="click"
            nzPopconfirmTitle="Deleting template, are you sure?"
            nzPopconfirmPlacement="left"
            nzOkText="Delete"
            (nzOnConfirm)="onDeleteTemplateModulePermissionName(row)">
          <i nz-icon nzType="delete"></i>
          
        </button>
      </nz-button-group>
    </ng-template>
  </nz-card>
</div>
