<div class="">
  <div *ngIf="message" class="flex flex-column justify-content-center">
    <i *ngIf="message?.status === ResponseStatus.SUCCESS; else errorIconTemplate"
        class="my-4"
        nz-icon 
        [nzType]="'check-circle'" 
        [nzTheme]="'twotone'" 
        [nzTwotoneColor]="'#52c41a'"
        style="font-size: 5rem;">
    </i>
    <ng-template #errorIconTemplate>
      <i nz-icon 
          class="my-4"
          [nzType]="'exclamation-circle'" 
          [nzTheme]="'twotone'" 
          [nzTwotoneColor]="'#eb3434'"
          style="font-size: 5rem;">
      </i>
    </ng-template>
    <span class="text-center">{{ message?.message }}</span>
  </div>
</div>
