<div [@fadeAnimation]>
  <p>dashboard works!</p>

  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
  <h1>Content</h1>
  <br /> <br />
</div>
