<nz-card style="width:576px;" [@fadeAnimation]>
  <nz-page-header 
      nzTitle="Registration" 
      class="px-0 pb-3 pt-0">
  </nz-page-header>
  <nz-steps 
      [nzCurrent]="currentStepIndex" 
      nzDirection="horizontal" 
      nzSize="small">
    <nz-step nzTitle="Login"></nz-step>
    <nz-step nzTitle="Profile"></nz-step>
    <nz-step nzTitle="Company"></nz-step>
    <nz-step nzTitle="Plan"></nz-step>
    <nz-step nzTitle="Complete"></nz-step>
  </nz-steps>
  <form 
      nz-form 
      [formGroup]="registerForm" 
      class="w-100 mt-3" 
      (ngSubmit)="onRegister(registerForm.value)">
    <ng-container [ngSwitch]="currentStepIndex">
      <ng-container *ngSwitchCase="0">
        <xyz-registration-user-form></xyz-registration-user-form>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <xyz-registration-profile-form></xyz-registration-profile-form>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <xyz-registration-company-form></xyz-registration-company-form>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <xyz-registration-plan-form></xyz-registration-plan-form>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <xyz-registration-complete></xyz-registration-complete>
      </ng-container>
    </ng-container>
    <div class="steps-actions">
      <button 
          class="mr-1"
          type="button"
          *ngIf="currentStepIndex > 0"
          nz-button 
          nzType="default" 
          (click)="onPreviousStep()">
        <span>Previous</span>
      </button>
      <button 
          class="mr-1"
          type="button"
          *ngIf="currentStepIndex < 3" 
          nz-button 
          nzType="default" 
          (click)="onNextStep()">
        <span>Next</span>
      </button>
      <button 
          type="submit"
          *ngIf="currentStepIndex === 3"
          nz-button 
          nzType="primary">
        <span>Register</span>
      </button>
    </div>
    <div>Or <a routerLink="/auth/login">log in now!</a></div>
  </form>
</nz-card>
