<nz-card class="bordered-none" style="max-width:576px;" [@fadeAnimation]>
  <nz-page-header 
      nzTitle="Registration" 
      class="px-0 pb-3 pt-0">
  </nz-page-header>
  <nz-steps 
      [nzCurrent]="currentStepIndex" 
      nzDirection="horizontal" 
      nzSize="small">
    <nz-step nzTitle="Company"></nz-step>
    <nz-step nzTitle="Login"></nz-step>
    <nz-step nzTitle="Profile"></nz-step>
    <nz-step nzTitle="Plan"></nz-step>
    <nz-step nzTitle="Complete"></nz-step>
  </nz-steps>
  <form 
      nz-form 
      [formGroup]="registerForm" 
      class="w-100 mt-3" 
      (ngSubmit)="onRegister(registerForm.value)">
    <ng-container [ngSwitch]="currentStepIndex">

      <!-- Company Step -->
      <ng-container *ngSwitchCase="0">
        <xyz-registration-company-form 
            [clientSettings]="clientSettings">
        </xyz-registration-company-form>
        <button 
            [disabled]="registerForm?.get('company')?.invalid || registerForm?.pending"
            class="mr-1"
            type="button"
            *ngIf="currentStepIndex < 3" 
            nz-button 
            nzType="default" 
            (click)="onNextStep()">
          <span>Next</span>
        </button>
        
      </ng-container>

      <!-- User Details Step-->
      <ng-container *ngSwitchCase="1">
        <xyz-registration-user-form></xyz-registration-user-form>
        <button 
            class="mr-1"
            type="button"
            nz-button 
            nzType="default" 
            (click)="onPreviousStep()">
          <span>Previous</span>
        </button>
        <button 
            [disabled]="registerForm?.get('user')?.invalid || registerForm?.pending"
            class="mr-1"
            type="button"
            nz-button 
            nzType="default" 
            (click)="onNextStep()">
          <span>Next</span>
        </button>
      </ng-container>

      <!-- Profile Step -->
      <ng-container *ngSwitchCase="2">
        <xyz-registration-profile-form></xyz-registration-profile-form>
        <button 
            class="mr-1"
            type="button"
            nz-button 
            nzType="default" 
            (click)="onPreviousStep()">
          <span>Previous</span>
        </button>
        <button 
            [disabled]="registerForm?.get('profile')?.invalid || registerForm?.pending"
            class="mr-1"
            type="button"
            nz-button 
            nzType="default" 
            (click)="onNextStep()">
          <span>Next</span>
        </button>
      </ng-container>

      <!-- Plan Step -->
      <ng-container *ngSwitchCase="3">
        <xyz-registration-plan-form
            [plans]="availablePlans$ | async">
        </xyz-registration-plan-form>
        <button 
            class="mr-1"
            type="button"
            nz-button 
            nzType="default" 
            (click)="onPreviousStep()">
          <span>Previous</span>
        </button>
        <button 
            [disabled]="registerForm?.invalid"
            type="submit"
            nz-button 
            nzType="primary">
          <span>Register</span>
        </button>
      </ng-container>

      <!-- Complete Step -->
      <ng-container *ngSwitchCase="4">
        <xyz-registration-complete 
            [message]="registrationResponseMessage$ | async">
        </xyz-registration-complete>
      </ng-container>
    </ng-container>
    <div class="text-center mt-4">Or <a routerLink="/auth/company-search">find your company now!</a></div>
  </form>
</nz-card>
