<nz-page-header style="background: white;" class="bordered-bottom" nzTitle="Update User Account" nzBackIcon>
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a>Settings</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngIf="selectedUserAccount$ | async as account">
      <a>{{ account?.firstName }} {{ account?.lastName }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Update User Account</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-extra>
    <button
        nz-button 
        nzType="primary">
      Update User Account
    </button>
  </nz-page-header-extra>
</nz-page-header>

<div [@fadeAnimation] class="p-4">
  <nz-card class="w-100 p-0">
    <form class="block" [formGroup]="updateUserAccountForm">
      <xyz-user-account-form></xyz-user-account-form>
    </form>
  </nz-card>
</div>
