<nz-layout [@fadeAnimation] nzTheme="light">
  <nz-sider nzCollapsible nzWidth="200px" nzTheme="light">
    <div class="logo"></div>
    <ul 
        nz-menu 
        nzTheme="light" 
        nzMode="inline" 
        *ngIf="userPermissionsMap$ | async as permissions">
      <ng-container *ngFor="let link of defaultNavigationMenu">
        <ng-container *ngIf="link?.children?.length; else singleNavigationLinkTemplate">
          <li 
              nz-submenu 
              [nzTitle]="link.label" 
              [nzIcon]="link?.icon || ''"
              *ngIf="permissions | xyzHasModulePermission: link.requireModulePermissionType">
            <ul>
              <ng-container *ngFor="let sublink of link?.children">
                <li nz-menu-item>
                  <a [routerLink]="sublink?.routerLink || ''">{{ sublink?.label }}</a></li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
        <ng-template #singleNavigationLinkTemplate>
          <li nz-menu-item *ngIf="permissions | xyzHasModulePermission: link.requireModulePermissionType">
            <i nz-icon [nzType]="link?.icon || ''"></i>
            <span><a [routerLink]="[link?.routerLink || '']">{{ link?.label || '' }}</a></span>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="flex flex-row justify-content-end align-items-center">
      <nz-avatar
          class="mr-4"
          nz-dropdown 
          [nzDropdownMenu]="menu" 
          [nzShape]="'circle'" 
          [nzSize]="'large'" 
          [nzIcon]="'user'"
          nzPlacement="bottomRight">
      </nz-avatar>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <a routerLink="/auth/logging-out">Log out</a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </nz-header>
      <nz-content>
          <nz-breadcrumb>
            <nz-breadcrumb-item>User</nz-breadcrumb-item>
            <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
          </nz-breadcrumb>
          <div class="inner-content">
            <router-outlet></router-outlet>
          </div>
      </nz-content>
      <nz-footer>©2022</nz-footer>
  </nz-layout>
</nz-layout>
