<div [formGroup]="formGroup">
  <h3 class="my-5 fw-bold">Company Details</h3>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="companyNameErrorTemplates">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="name" placeholder="Company Name" />
      </nz-input-group>
      <ng-template #companyNameErrorTemplates let-control>
        <ng-container *ngIf="control.hasError('required')">Please input your Company Name!</ng-container>
        <ng-container *ngIf="control.hasError('companyExists')">Company Name already exists!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input a different company url!">
      <nz-input-group nzAddOnBefore="http://" nzAddOnAfter=".localhost:4200">
        <input readonly type="text" nz-input formControlName="subdomain" placeholder="Company URL Preview" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</div>
